@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

@layer base {
    body {
        @apply bg-very-light-gray dark:bg-very-dark-blue;
        @apply text-black dark:text-white;
        @apply font-Nunito;
    }

    nav {
        @apply bg-white dark:bg-dark-blue;
    }

    main {
        @apply px-7 md:px-14;
        @apply pb-10;
        @apply mt-28;
    }
}
